span{
    color: blanchedalmond;
    color: rgb(21, 194, 171);
    
   }
   h1{
    color: blanchedalmond;
    background-color: black;
   }
h2{
    text-align: center;
    background-color: blueviolet;
}
h3{
    text-align: end;
    background-color: aqua;
}
class